<a href="https://colab.research.google.com/github/zubaidak/Summer-Microcredential-Data-Analytics-/blob/main/Basics_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python part II
## Data Structures

## Lists

In [1]:
my_list = ["Hello", 100, 23.47]

In [2]:
my_list

['Hello', 100, 23.47]

In [3]:
type (my_list)

list

In [4]:
second_list = ["one", "two", "three"]

In [5]:
print (my_list, second_list)

['Hello', 100, 23.47] ['one', 'two', 'three']

### 1) concatenation

In [6]:
new_list = my_list + second_list

In [7]:
type(new_list)

list

In [8]:
new_list

['Hello', 100, 23.47, 'one', 'two', 'three']

### 2) Indexing in a list

In [38]:
students = [ "Robert", "Chris", "Katarina", "Scarlett"]

In [39]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [40]:
students[0]
# first actually element in list, the second is the element in the element

'Robert'

In [12]:
string1 = "This is a string"

In [13]:
string1

'This is a string'

In [14]:
string1[2]

'i'

### 3) Editing the list's

In [15]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [16]:
#Replace values
students[0] = "Sam"

In [17]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett']

In [18]:
# Add values
students.append ("Paul")
#append adds stuff at the end

In [19]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett', 'Paul']

In [20]:
# Remove values
students.remove ("Scarlett")
students

['Sam', 'Chris', 'Katarina', 'Paul']

In [21]:
list1 = ["one", "two", "three", "four", "five"]

In [22]:
list1.pop(2)

'three'

In [23]:
list1

['one', 'two', 'four', 'five']

### 4) Add list into list

In [24]:
color = ["Red", "Green", "Blue", "Violet"]

In [25]:
color

['Red', 'Green', 'Blue', 'Violet']

In [26]:
age = [ 21, 23, 25, 27]

In [27]:
age

[21, 23, 25, 27]

In [28]:
color.extend(age)

In [29]:
color

['Red', 'Green', 'Blue', 'Violet', 21, 23, 25, 27]

### 5) Python in-build functions with the list's

In [30]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

In [31]:
numbers = even + odd

In [32]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [33]:
print(sorted(numbers))
#sort numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
len (numbers)
# prints out the total number of values in the list which is 9

9

In [35]:
max(numbers)
# print out the maximum value from the numbers list

9

In [36]:
min(numbers)
# prints out the minimum value from the numbers list

1

## Dictionaries

### 1) Define a Dictionary

In [41]:
my_dict = {"key1":"value1", "key2":"value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [42]:
my_dict ["key1"]

'value1'

In [43]:
fruits = {"Apple": 3, "Banana": 1.75, "Cherry":2}
fruits
fruits ["Apple"]

3

### 2) Dictionaries with all data type's

In [45]:
new_dict = {"k1": 147, "k2" : [15, 25, 35], "k3" :{"Apple": 3}}
# create a list called new_dict with elements k1, k2, and k3

In [46]:
new_dict
# Print out the entire list new_dict

{'k1': 147, 'k2': [15, 25, 35], 'k3': {'Apple': 3}}

In [47]:
new_dict ["k2"]
# Print out the values in element "k2" which is 15, 25, 35

[15, 25, 35]

In [48]:
new_dict ["k2"][1]
# Print out the value in position 1 of element k2 in list 'd' which is 25

25

In [49]:
new_dict["k3"]
# Print out the element 'k3' in list which is Apple : 3

{'Apple': 3}

In [50]:
new_dict["k3"]["Apple"]
# Print out the value in element 'k3' and specified element 'Apple' which is 3

3

In [51]:
d = {"students" : ["a", "b", "c", "d"]}
# Create a list called students wil values a, b, c, and d in list 'd'

In [52]:
d
#print out the list d

{'students': ['a', 'b', 'c', 'd']}

In [53]:
d["students"][1]
#prints out the value in position 1 of the list which is b

'b'

In [54]:
d = {"students" : ["a", "b", "c", "d", "f", "5", "whatever we want", "4", "u", "p"]}

In [55]:
d
#Print out "students" list

{'students': ['a', 'b', 'c', 'd', 'f', '5', 'whatever we want', '4', 'u', 'p']}

In [56]:
d["students"][-1]
# -1 will print out the last number in a list or string
# n represents your list/string; so formula is n-1

'p'

In [57]:
d["students"][3].upper()
# Will go to list d, in students, find position 3 which is "d"
# after finding the element, it will change it uppercase which is"D"

'D'

### 3) Add Values

In [59]:
d = {"k1": 100, "k2" : 200}
# Create a list d with  elements k1 and k2

In [60]:
d['k1']
# Print out the element in 'k1'

100

In [61]:
d['k3'] = 300
# Go to list d and add element 'k3' which has an element of 300

In [62]:
d
# Print out the values in list 'd'

{'k1': 100, 'k2': 200, 'k3': 300}

### 4) Replace Values

In [65]:
d
# Print the list d

{'k1': 'New value', 'k2': 200, 'k3': 300}

In [66]:
d['k1'] = "New value"
# In list 'd'. go to element 'k1' and make it equal to 'New value'

In [67]:
d
# Print out the list d to show changes

{'k1': 'New value', 'k2': 200, 'k3': 300}

In [68]:
d.keys()
# This command will show the all the keys in list 'd'

dict_keys(['k1', 'k2', 'k3'])

In [69]:
d.values()
# This command will show all the current values within list 'd'

dict_values(['New value', 200, 300])

In [70]:
d.items()
#This command shows all the items in list 'd' including both keys and values

dict_items([('k1', 'New value'), ('k2', 200), ('k3', 300)])

## Tubles

### Define a Tuple

In [71]:
prime_numbers = (2, 3, 5, 7, 11)

In [72]:
prime_numbers

(2, 3, 5, 7, 11)

In [73]:
type(prime_numbers)

tuple

In [74]:
perfect_squares = [1, 4, 9, 16, 25, 36]

In [75]:
type(perfect_squares)

list

In [76]:
len(prime_numbers)

5

In [77]:
len(perfect_squares)

6

In [85]:
my_tuple = ("Hieee", 100, 100, 12.47, 23, 65, 89, 'prime')
my_tuple

('Hieee', 100, 100, 12.47, 23, 65, 89, 'prime')

### Indexing in Tuple's

In [86]:
my_tuple[0]

'Hieee'

In [87]:
my_tuple[1]

100

In [88]:
my_tuple[0:2]
#Print out the values in element 0 and 1 but NOT 2
#The end step is non-exclusive

('Hieee', 100)

In [89]:
perfect_squares[0:3]

[1, 4, 9]

In [90]:
my_tuple.count(100)
# The count() method returns the number of elements with the specified value.

2

In [91]:
my_tuple[3]

12.47

## Sets

In [93]:
my_set = set()

In [94]:
my_list = [1, 1, 1, 2, 2, 3,"Apple", "Apple"]

In [95]:
set(my_list)

{1, 2, 3, 'Apple'}

In [96]:
my_set

set()

In [97]:
my_set.add(23)

In [98]:
my_set

{23}

In [99]:
my_set.add(22)

In [100]:
my_set.add(23)

In [101]:
my_set

{22, 23}

### Strings Part II

#### 1) Concatenation of the string's

In [102]:
greeting = "Hello"

In [103]:
name = "Mark"

In [104]:
print(greeting + name)

HelloMark

In [105]:
print(greeting + " " + name)

Hello Mark

#### 2) Input Function

In [106]:
name = input("What is your name: ")

What is your name: Zubaida

In [107]:
print(greeting + " " + name)

Hello Zubaida

#### 3) Indexing strings

In [108]:
color = "Orange"

In [109]:
len(color)

6

In [110]:
color[3]

'n'

In [111]:
color[-1]
# prints the last element in the string which is the letter e

'e'

In [113]:
color[-2]
# prints the second to last element in the string which is the letter g

'g'

In [114]:
color[2:-1]

'ang'

#### 4) String Formatting

In [116]:
age = 27

In [117]:
print("My age is " + str(age) + " years old")

My age is 27 years old

In [118]:
print("The colors are {} {} {} ".format("Red", "Green", "Blue"))

The colors are Red Green Blue

In [119]:
print("The colors are {0} {1} {2} ".format("Red", "Green", "Blue"))

The colors are Red Green Blue

In [120]:
print("The colors are {0} {0} {0} ".format("Red", "Green", "Blue"))

The colors are Red Red Red

In [121]:
print("The colors are {2} {2} {2} ".format("Red", "Green", "Blue"))

The colors are Blue Blue Blue

In [122]:
print("The colors are {r} {g} {b} ".format(r="Red", g="Green", b="Blue"))

The colors are Red Green Blue

In [123]:
print("The colors are {r} {r} {r} ".format(r="Red", g="Green", b="Blue"))

The colors are Red Red Red

In [124]:
pi = 3.1415

In [125]:
print("The value of pi is {}".format(pi))

The value of pi is 3.1415

In [126]:
print(f"The value of pi is {pi}")

The value of pi is 3.1415