<a href="https://colab.research.google.com/github/zubaidak/Summer-Microcredential-Data-Analytics-/blob/main/Basics_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python part II
## Data Structures

## Lists

In [ ]:
my_list = ["Hello", 100, 23.47]

In [ ]:
my_list

['Hello', 100, 23.47]

In [ ]:
type (my_list)

list

In [ ]:
second_list = ["one", "two", "three"]

In [ ]:
print (my_list, second_list)

['Hello', 100, 23.47] ['one', 'two', 'three']

### 1) concatenation

In [ ]:
new_list = my_list + second_list

In [ ]:
type(new_list)

list

In [ ]:
new_list

['Hello', 100, 23.47, 'one', 'two', 'three']

### 2) Indexing in a list

In [ ]:
students = [ "Robert", "Chris", "Katarina", "Scarlett"]

In [ ]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [ ]:
students[0][0]
# first actually element in list, the second is the element in the element

'R'

In [ ]:
string1 = "This is a string"

In [ ]:
string1

'This is a string'

In [ ]:
string1[2]

'i'

### 3) Editing the list's

In [ ]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [ ]:
#Replace values
students[0] = "Sam"

In [ ]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett']

In [ ]:
# Add values
students.append ("Paul")
#append adds stuff at the end

In [ ]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett', 'Paul']

In [ ]:
# Remove values
students.remove ("Scarlett")
students

['Sam', 'Chris', 'Katarina', 'Paul']

In [ ]:
list1 = ["one", "two", "three", "four", "five"]

In [ ]:
list1.pop(2)

'three'

In [ ]:
list1

['one', 'two', 'four', 'five']

### 4) Add list into list

In [ ]:
color = ["Red", "Green", "Blue", "Violet"]

In [ ]:
color

['Red', 'Green', 'Blue', 'Violet']

In [ ]:
age = [ 21, 23, 25, 27]

In [ ]:
age

[21, 23, 25, 27]

In [ ]:
color.extend(age)

In [ ]:
color

['Red', 'Green', 'Blue', 'Violet', 21, 23, 25, 27]

### 5) Python in-build functions with the list's

In [ ]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

In [ ]:
numbers = even + odd

In [ ]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
print(sorted(numbers))
#sort numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len (numbers)
# prints out the total number of values in the list which is 9

9

In [ ]:
max(numbers)
# print out the maximum value from the numbers list

9

In [ ]:
min(numbers)
# prints out the minimum value from the numbers list

1

## Dictionaries

### 1) Define a Dictionary

In [ ]:
my_dict = {"key1":"value1", "key2":"value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
my_dict ["key1"]

'value1'

In [ ]:
fruits = {"Apple": 3, "Banana": 1.75, "Cherry":2}
fruits
fruits ["Apple"]

3

In [ ]:
new_dict = {"k1": 147, "k2" : [15, 25, 35], "k3" :{"Apple": 3}}
# create a list called new_dict with elements k1, k2, and k3

### 2) Dictionaries with all data type's

In [ ]:
new_dict
# Print out the entire list new_dict

{'k1': 147, 'k2': [15, 25, 35], 'k3': {'Apple': 3}}

In [ ]:
new_dict ["k2"]
# Print out the values in element "k2" which is 15, 25, 35

[15, 25, 35]

In [ ]:
new_dict ["k2"][1]
# Print out the value in position 1 of element k2 in list 'd' which is 25

25

In [ ]:
new_dict["k3"]
# Print out the element 'k3' in list which is Apple : 3

{'Apple': 3}

In [ ]:
new_dict["k3"]["Apple"]
# Print out the value in element 'k3' and specified element 'Apple' which is 3

3

In [ ]:
d = {"students" : ["a", "b", "c", "d"]}
# Create a list called students wil values a, b, c, and d in list 'd'

In [ ]:
d
#print out the list d

{'students': ['a', 'b', 'c', 'd']}

In [ ]:
d["students"][1]
#prints out the value in position 1 of the list which is b

'b'

In [ ]:
d = {"students" : ["a", "b", "c", "d", "f", "5", "whatever we want", "4", "u", "p"]}

In [ ]:
d
#Print out "students" list

{'students': ['a', 'b', 'c', 'd', 'f', '5', 'whatever we want', '4', 'u', 'p']}

In [ ]:
d["students"][-1]
# -1 will print out the last number in a list or string
# n represents your list/string; so formula is n-1

'p'

In [ ]:
d["students"][3].upper()
# Will go to list d, in students, find position 3 which is "d"
# after finding the element, it will change it uppercase which is"D"

'D'

In [ ]:
d = {"k1": 100, "k2" : 200}
# Create a list d with  elements k1 and k2

### 3) Add Values

In [ ]:
d['k1']
# Print out the element in 'k1'

100

In [ ]:
d['k3'] = 300
# Go to list d and add element 'k3' which has an element of 300

In [ ]:
d
# Print out the values in list 'd'

{'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
d
# Print the list d

{'k1': 'New value', 'k2': 200, 'k3': 300}

In [ ]:
d['k1'] = "New value"
# In list 'd'. go to element 'k1' and make it equal to 'New value'

### 4) Replace Values

In [ ]:
d
# Print out the list d to show changes

{'k1': 'New value', 'k2': 200, 'k3': 300}

In [ ]:
d.keys()
# This command will show the all the keys in list 'd'

dict_keys(['k1', 'k2', 'k3'])

In [ ]:
d.values()
# This command will show all the current values within list 'd'

dict_values(['New value', 200, 300])

In [ ]:
d.items()
#This command shows all the items in list 'd' including both keys and values

dict_items([('k1', 'New value'), ('k2', 200), ('k3', 300)])

## Tubles

### Define a Tuple

In [ ]:
prime_numbers = (2, 3, 5, 7, 11)

In [ ]:
prime_numbers

(2, 3, 5, 7, 11)

In [ ]:
type(prime_numbers)

tuple

In [ ]:
perfect_squares = [1, 4, 9, 16, 25, 36]

In [ ]:
type(perfect_squares)

list

In [ ]:
len(prime_numbers)

5

In [ ]:
len(perfect_squares)

6

In [ ]:
my_tuple = ("Hieee", 100, 12.47, 23, 65, 89, 'prime')
my_tuple

('Hieee', 100, 12.47, 23, 65, 89, 'prime')

### Indexing in Tuple's

In [ ]:
my_tuple[0]

'Hieee'

In [ ]:
my_tuple[1]

100

In [ ]:
my_tuple[0:2]
#Print out the values in element 0 and 1 but NOT 2
#The end step is non-exclusive

('Hieee', 100)

In [ ]:
perfect_squares[0:3]

[1, 4, 9]

In [ ]:
perfect_squares =

## project

In [ ]:
# convert decimal to binary
# credit to source https://datagy.io/python-int-to-binary/ explains the bin built in function
#using the f string method
binary_num = f'{'