<a href="https://colab.research.google.com/github/zubaidak/Summer-Microcredential-Data-Analytics-/blob/main/Basics_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python part II
## Data Structures

## Lists

In [ ]:
my_list = ["Hello", 100, 23.47]

In [ ]:
my_list

['Hello', 100, 23.47]

In [ ]:
type (my_list)

list

In [ ]:
second_list = ["one", "two", "three"]

In [ ]:
print (my_list, second_list)

['Hello', 100, 23.47] ['one', 'two', 'three']

### 1) concatenation

In [ ]:
new_list = my_list + second_list

In [ ]:
type(new_list)

list

In [ ]:
new_list

['Hello', 100, 23.47, 'one', 'two', 'three']

### 2) Indexing in a list

In [51]:
students = [ "Robert", "Chris", "Katarina", "Scarlett"]

In [52]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [53]:
students[0][0]
# first actually element in list, the second is the element in the element

'R'

In [ ]:
string1 = "This is a string"

In [ ]:
string1

'This is a string'

In [ ]:
string1[2]

'i'

### 3) Editing the list's

In [54]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [55]:
#Replace values
students[0] = "Sam"

In [56]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett']

In [57]:
# Add values
students.append ("Paul")
#append adds stuff at the end

In [58]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett', 'Paul']

In [59]:
# Remove values
students.remove ("Scarlett")
students

['Sam', 'Chris', 'Katarina', 'Paul']

In [64]:
list1 = ["one", "two", "three", "four", "five"]

In [65]:
list1.pop(2)

'three'

In [66]:
list1

['one', 'two', 'four', 'five']

### 4) Add list into list

In [ ]:
color = ["Red", "Green", "Blue", "Violet"]

In [ ]:
color

['Red', 'Green', 'Blue', 'Violet']

In [ ]:
age = [ 21, 23, 25, 27]

In [ ]:
age

[21, 23, 25, 27]

In [ ]:
color.extend(age)

In [ ]:
color

['Red', 'Green', 'Blue', 'Violet', 21, 23, 25, 27]

### 5) Python in-build functions with the list's

In [ ]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

In [ ]:
numbers = even + odd

In [ ]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
print(sorted(numbers))
#sort numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len (numbers)
# total length of the list
# max is max value
# min is minvalue

9

In [ ]:
max(numbers)

9

In [ ]:
min(numbers)

1