<a href="https://colab.research.google.com/github/zubaidak/Summer-Microcredential-Data-Analytics-/blob/main/Climate_Change_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Identify the problem

This notebook analysis is to map out each country's mean temperature with the data set provided.

# Task 2: Load the Libraries

In [1]:
import pandas as pd
import plotly.express as px
from copy import copy
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow import keras
import plotly.offline as py
import plotly.graph_objects as go

# Task 3: Load the Data

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/zubaidak/ML-data/main/GlobalLandTemperaturesByCountry.csv')

# Task 4: EDA (Exploratory Data Analysis)

In [3]:
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [4]:
len(df)

577462

In [5]:
df['Country'].unique()

array(['Åland', 'Afghanistan', 'Africa', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Baker Island', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', "Côte D'Ivoire", 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros',
       'Congo (Democratic Republic Of The)', 'Congo', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'Denmark (Europe)', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
       'Federated States Of Micronesia', 'Fiji', 'Finland',
       'France (Europe)', 'France', 'French Guiana', 'French Polynesia',
       'French Southern And Antarctic Lands', 'Gabon', 'Gambia',
       'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea Bissau', 'Guinea', 'Guyana', 'Haiti',
       'Heard Island And Mcdonald Islands', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kingman Reef',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands (Europe)', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestina',
       'Palmyra Atoll', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South America',
       'South Georgia And The South Sandwich Isla', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Svalbard And Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor Leste', 'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks And Caicas Islands', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom (Europe)',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Virgin Islands', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

In [7]:
df.isnull().sum()

dt                                   0
AverageTemperature               32651
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64

In [8]:
df.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       544811.000000                  545550.000000
mean            17.193354                       1.019057
std             10.953966                       1.201930
min            -37.658000                       0.052000
25%             10.025000                       0.323000
50%             20.901000                       0.571000
75%             25.814000                       1.206000
max             38.842000                      15.003000

In [9]:
# use group by country to see the count of values for each country
country_group_df = df.groupby(by = 'Country').count().reset_index('Country').rename(columns={'AverageTemperature':'AverageTemperatureCount',
                                                                       'AverageTemperatureUncertainty': 'AverageTemperatureUncertaintyCount'})

In [10]:
country_group_df.head()

,Country,dt,AverageTemperatureCount,AverageTemperatureUncertaintyCount
0,Afghanistan,2106,2085,2085
1,Africa,1965,1894,1894
2,Albania,3239,3166,3166
3,Algeria,2721,2702,2702
4,American Samoa,1761,1629,1629

In [11]:
 country_group_df['Country']

0         Afghanistan
1              Africa
2             Albania
3             Algeria
4      American Samoa
            ...
238    Western Sahara
239             Yemen
240            Zambia
241          Zimbabwe
242             Åland
Name: Country, Length: 243, dtype: object

# Task 5: Data Visualization

In [12]:
fig = px.bar(country_group_df, x = 'Country', y = 'AverageTemperatureCount')
fig.show()

In [13]:
# Plot the histogram of AverageTemperatureCount
fig = px.histogram(country_group_df, x = 'AverageTemperatureCount')
fig.show()

# Task 6: Data Preparation (Wrangling/Cleaning, etc.)

In [14]:
country_group_df[(country_group_df['AverageTemperatureCount'] < 1500) | (country_group_df ['AverageTemperatureUncertaintyCount'] < 1500)]

,Country,dt,AverageTemperatureCount,AverageTemperatureUncertaintyCount
8,Antarctica,764,0,739
73,Federated States Of Micronesia,1427,1364,1364
80,French Southern And Antarctic Lands,788,783,783
91,Guam,1329,1328,1328
98,Heard Island And Mcdonald Islands,788,783,783
161,Northern Mariana Islands,1329,1328,1328
204,South Georgia And The South Sandwich Isla,1666,1474,1474

In [15]:
# Find the countries that have less than 1500 data points
countries_with_less_data = country_group_df[(country_group_df['AverageTemperatureCount'] < 1500) | (country_group_df ['AverageTemperatureUncertaintyCount'] < 1500)]['Country'].tolist()

In [16]:
countries_with_less_data

['Antarctica',
 'Federated States Of Micronesia',
 'French Southern And Antarctic Lands',
 'Guam',
 'Heard Island And Mcdonald Islands',
 'Northern Mariana Islands',
 'South Georgia And The South Sandwich Isla']

In [17]:
df['Country'].isin(countries_with_less_data)

0         False
1         False
2         False
3         False
4         False
          ...
577457    False
577458    False
577459    False
577460    False
577461    False
Name: Country, Length: 577462, dtype: bool

In [18]:
# Remove the countries with less data points
df = df[~df['Country'].isin(countries_with_less_data)]

In [19]:
df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,4.384,2.294,Åland
1,1743-12-01,NaN,NaN,Åland
2,1744-01-01,NaN,NaN,Åland
3,1744-02-01,NaN,NaN,Åland
4,1744-03-01,NaN,NaN,Åland
...,...,...,...,...
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [20]:
# Fill the missing values by doing rolling average on past 730 days
df['AverageTemperatureUncertainty'] = df['AverageTemperatureUncertainty'].fillna(df['AverageTemperatureUncertainty'].rolling(730, min_periods = 1).mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
df.isna().sum()

dt                                   0
AverageTemperature               31620
AverageTemperatureUncertainty        0
Country                              0
dtype: int64

In [22]:
# Fill the missing values by doing rolling average on past 730 days
df['AverageTemperature'] = df['AverageTemperature'].fillna(df['AverageTemperature'].rolling(730, min_periods = 1).mean())

In [23]:
df.isna().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
Country                          0
dtype: int64

In [24]:
df['Country'].unique()

array(['Åland', 'Afghanistan', 'Africa', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Baker Island', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', "Côte D'Ivoire", 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros',
       'Congo (Democratic Republic Of The)', 'Congo', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'Denmark (Europe)', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Falkland Islands (Islas Malvinas)', 'Faroe Islands', 'Fiji',
       'Finland', 'France (Europe)', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Gaza Strip', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guernsey', 'Guinea Bissau', 'Guinea', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle Of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kingman Reef', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands (Europe)',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestina',
       'Palmyra Atoll', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South America', 'South Korea', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard And Jan Mayen',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor Leste', 'Togo',
       'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks And Caicas Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom (Europe)',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Virgin Islands', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [25]:
duplicates = []
for i in df['Country'].unique():
    if '(' in i:
        duplicates.append(i)

In [26]:
duplicates

['Congo (Democratic Republic Of The)',
 'Denmark (Europe)',
 'Falkland Islands (Islas Malvinas)',
 'France (Europe)',
 'Netherlands (Europe)',
 'United Kingdom (Europe)']

In [27]:
# replace the duplicates
df = df.replace(duplicates, ['Congo','Denmark','Falkland Islands','France','Netherlands','United Kingdom' ])

In [28]:
df['Country'].unique()

array(['Åland', 'Afghanistan', 'Africa', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Baker Island', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', "Côte D'Ivoire", 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Europe', 'Falkland Islands', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guernsey',
       'Guinea Bissau', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle Of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kingman Reef',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America',
       'North Korea', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau',
       'Palestina', 'Palmyra Atoll', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Barthélemy', 'Saint Kitts And Nevis', 'Saint Lucia',
       'Saint Martin', 'Saint Pierre And Miquelon',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Korea', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard And Jan Mayen',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor Leste', 'Togo',
       'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks And Caicas Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [29]:
countries = df['Country'].unique().tolist()
countries

['Åland',
 'Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua And Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Baker Island',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bonaire, Saint Eustatius And Saba',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 "Côte D'Ivoire",
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Europe',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Gaza Strip',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guernsey',
 'Guinea Bissau',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle Of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kingman Reef',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North America',
 'North Korea',
 'Norway',
 'Oceania',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestina',
 'Palmyra Atoll',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthélemy',
 'Saint Kitts And Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre And Miquelon',
 'Saint Vincent And The Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome And Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard And Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor Leste',
 'Togo',
 'Tonga',
 'Trinidad And Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks And Caicas Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Virgin Islands',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [30]:
# Get the mean temperature for each country
mean_temperature = []
for i in countries:
    mean_temperature.append(df[df['Country'] == i]['AverageTemperature'].mean())

In [31]:
mean_temperature

[5.253407045650971,
 13.969032500999896,
 23.742513304859663,
 12.868059006848597,
 22.921618511348367,
 26.415697533490647,
 11.543420273585504,
 21.081856794478785,
 26.283285990972683,
 26.490144329965048,
 14.621407346072278,
 9.199305804976174,
 26.528234326993193,
 7.373470573259821,
 21.597363156755243,
 6.553616257515263,
 11.171363673433104,
 23.57770172333342,
 25.924235133962867,
 25.53470677532838,
 24.84190674998119,
 26.37128770995455,
 6.278468335904415,
 9.418498079857274,
 24.878248840314843,
 27.015074990382384,
 11.940860669269968,
 20.877428251970485,
 26.733766132051635,
 10.795574834946803,
 21.85136260006229,
 24.684769769733272,
 26.255617836936572,
 10.837889488469633,
 27.203972767337603,
 23.901255108822976,
 20.513229501055314,
 25.68400374912927,
 26.635809223381855,
 24.56038082215269,
 -1.6628978071506426,
 22.943871060047485,
 26.72250415028397,
 25.42359143874315,
 27.00171149623752,
 9.383679436640453,
 6.761933487452209,
 22.95189630219478,
 24.840096469908325,
 25.564588196675306,
 24.221267842442412,
 25.61578443420379,
 11.661814423216775,
 25.40742638706859,
 27.243372049236623,
 18.793840796895488,
 7.879471693028928,
 -2.881123545329794,
 25.349727323028787,
 26.34286643553182,
 25.566333874817666,
 22.26939787957615,
 22.604737660118282,
 24.88996924408947,
 24.956206948230385,
 26.697561238494522,
 5.3035364713328805,
 20.604465097933407,
 8.166455357681976,
 6.079576219718516,
 6.616262065266198,
 23.888506947897426,
 1.7689015476695062,
 11.481238376310996,
 24.793030487318283,
 26.10665784481373,
 24.42370805931446,
 27.40710616801107,
 19.26602596376493,
 8.909899612101105,
 8.166918663120969,
 25.14360267605828,
 15.040101557131246,
 -18.58724051271633,
 23.38722044278226,
 26.400581503118367,
 23.167020809051838,
 11.203218964429109,
 26.088884002840896,
 25.526660629780785,
 25.931116656753883,
 26.298196331972957,
 24.732174302138816,
 22.660077972190148,
 10.011953267585643,
 1.597307957749552,
 23.386523806715086,
 25.48704368034293,
 17.60734031110076,
 21.7517358692568,
 9.701913339114839,
 9.376107012588005,
 19.53114995646139,
 12.898660128633134,
 25.950720624456935,
 11.952146489881995,
 10.9620839070305,
 19.243999422996055,
 5.294623704656696,
 21.628905153508292,
 27.133233993500617,
 26.737455702327132,
 25.11349118844984,
 3.220790953043148,
 22.763306617583773,
 5.7263287690580595,
 17.631837256738823,
 13.739464238555751,
 24.97137600489426,
 22.270785529979506,
 5.037375565436275,
 5.892764780437891,
 9.108381603206986,
 22.418553382479203,
 10.645419185638449,
 20.638864607715323,
 21.687408018489364,
 25.463554901536906,
 28.350293474415395,
 18.495008876210466,
 25.57820005941445,
 27.609221216208805,
 24.271553805919936,
 25.885798562682243,
 20.56755804195804,
 9.19178719959786,
 9.035900869674341,
 -0.8167711065365673,
 9.992294162669202,
 25.208873943813295,
 17.687004417764626,
 22.853299938782165,
 20.493374245488607,
 14.926175407171554,
 9.377056749073498,
 22.68756253113658,
 10.371461033350613,
 25.34083257961358,
 27.248812450631874,
 26.834476119521984,
 25.22150294731147,
 5.071589489827615,
 6.74859670258577,
 0.25341450231615514,
 21.41131741001088,
 26.227216321310866,
 21.1013126867355,
 27.156103514338078,
 23.36068820315953,
 27.16365574343789,
 26.42593642280176,
 24.450978208301777,
 23.28065449123553,
 20.513221739671497,
 26.336262832849595,
 7.882148409652308,
 14.688319262126372,
 24.684089245872784,
 26.76780075614856,
 23.98857575563582,
 9.08468829847436,
 -5.434270352726524,
 16.61626714397761,
 26.088703268155367,
 25.94837838561684,
 26.62665227953119,
 26.65341195810986,
 4.9285365511391275,
 25.156716877410574,
 26.39177898097977,
 14.110027394488016,
 24.92220206045984,
 25.560191293373908,
 27.88192990621408,
 10.386445686056858,
 23.89573485265631,
 26.059522279031732,
 26.520551243859362,
 26.642400312524114,
 7.9523059225236405,
 9.625271942694942,
 25.058482501085663,
 26.894006030554007,
 17.2996046726305,
 21.824136832153695,
 11.849295481059308,
 13.586375982145805,
 26.662824416484394,
 27.113296359010935,
 26.269058558412077,
 -7.272604780832312,
 18.76586479658264,
 2.75260671136097,
 6.904174105222963,
 17.91778234802101,
 21.935643763071607,
 4.097503474758562,
 19.352403571534516,
 25.8454605992636,
 25.966539622437892,
 26.81679087491006,
 23.48919231081418,
 25.933143016193956,
 19.970749934788547,
 11.634858487960184,
 14.632009155238459,
 26.662733508082134,
 23.47972775219645,
 7.994448191620119,
 26.296181291926143,
 8.791550342341527,
 8.651945461580715,
 16.903827184732243,
 12.5913309724559,
 24.137286572019068,
 23.81998818693664,
 26.169496861834173,
 22.564954861534524,
 26.24796445603069,
 22.00202007385598,
 21.176589530103797]

# Task 7: Create the Visual Model

In [32]:
# Plot the mean temperature of countries
data = [dict(type = 'choropleth', locations = countries, z = mean_temperature, locationmode = 'country names')]

layout = dict(title = 'Average Global Land Temperatures', geo = dict(showframe = False, showocean = True, oceancolor = 'aqua', projection = dict(type = 'orthographic')))

fig = dict(data = data, layout = layout)

py.iplot(fig, validate = False, filename = 'worldmap')